body{
    
    margin-left: 200px;
    margin-right: 200px;

}

h1{
    padding: 0 20px;
    
}
img{
    display: block;
    margin: 0 auto;   
}
h2{
    padding: 0 20px;
}

p{
    padding: 0 20px;
    text-align: justify;
}


video{
    display: block;
    margin: 0 auto;
    

}